@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin:0;
    padding: 0;
    height: 100%;
}

.background-container {
    background-image: url(../assets/wallpapersneakers.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.title-container{
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    border: 10px rgb(0, 0, 0) solid;
    z-index: 1;
}

.title-container h1{
    font-family: Poppins;
    font-weight: 900;
    font-size: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(255, 255, 255)!important;
}
