.nav-container {
    width: 100vw;
    max-width: 1440px;
    height: 45px;
    display: flex;
    align-items: center;
    /* background-color: blue; */
}

.nav-container a{
    text-decoration: none;
    color: black;
}

.logo {
    padding: 0.9%;
    /* background-color: blueviolet; */
    height: 100%;
    display: flex;
    align-items: center;
}

.logo h1{
    margin: 0px;
    font-size: 1em;
}

.navList {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 3%;
    /* background-color: rgb(226, 43, 153); */
}

.navItem {
    padding: 0 8%;
}

.searchBar{
    display: flex;
    width: 18%;
    align-items: center;
    margin: 8%;
    /* background-color: rgb(0, 110, 255); */
}

.searchInput{
    border: none;
	border-bottom: 1px solid #D1D1D4;
	background: none;
	padding: 3px;
	font-weight: 10;
	width: 100%;
	transition: .2s
}

.searchInput:active,
.searchInput:focus,
.searchInput:hover{
    outline: none;
    border-bottom-color: black;
}

.accountIcons{
    background-color: blue;
    display: flex;
    position: relative;
    left: 35%;
}