.nav-container {
    min-width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    border: 1px black solid;
}

/* .nav-container ul {
    padding: 0px;
    margin: 0px;
} */

.nav-container li{
    list-style: none;
}

.nav-container a{
    text-decoration: none;
    color: black;
}

.logo {
    position: relative;
    left: 4rem;
    border: 5px black solid;
    background-color: rgb(255, 255, 255);
}

.logo h1{
    display: flex;
    font-weight: 900;
    font-size: 20px;
    padding: 2px;
    margin: 4px;
    background-color: rgb(255, 255, 255)!important;
}

.navList {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navItem {
    height: 100%;
    font-size: 17px;
    font-weight: 450;
    padding: 0 10px;
    margin: 0;
}

.searchBar{
    display: flex;
    align-items: center;
}
.searchInput{
    border: none;
	border-bottom: 1px solid #D1D1D4;
	background: none;
	padding: 5px;
	padding-left: 70px;
	font-weight: 100;
	width: 100%;
	transition: .2s
}

.searchInput:active,
.searchInput:focus,
.searchInput:hover{
    outline: none;
    border-bottom-color: black;
}

.accountIcons{
    display: flex;
    position: relative;
    left: 280px;
}