.nav-container {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
}

/* .nav-container ul {
    padding: 0px;
    margin: 0px;
} */

.nav-container li{
    list-style: none;
}

.nav-container a{
    text-decoration: none;
    color: black;
}

.logo{
  display: flex;
  align-items: left;
  margin: 0;
  border: 5px black solid;
  background-color: rgb(255, 255, 255);
}

.logo h1{
    font-weight: 900;
    font-size: 20px;
    background-color: rgb(255, 255, 255)!important;
}

.navList {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navItem {
    height: 100%;
    font-size: 17px;
    font-weight: 450;
    padding: 0 100px;
    margin: 0;
}